.container {
    background: rgb(49, 49, 49);
    border-radius: 16px;
}


.container .imageContainer {
    position: relative;
}


.container .imageContainer .poster {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    height: 400px;
    object-fit: cover;
}

.container .badge {
    position: absolute;
    top: 8px;
    right: 8px;
}

.container .imageContainer:hover .poster {
    opacity: 0.1;
}

.container .imageContainer:hover .imageOptions {
    opacity: 1;
}

.container .imageContainer .imageOptions {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container .description {
    padding: 12px;
}

.container h4 {
    margin: 0;
}
